body {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  --bs-body-bg: ;
}

.card {
  height: 400px;
}

.dropdown-item {
  background-color: #5c636a;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20vh;
  align-items: center;
}
